@model IEnumerable<ContactViewModel>

<ul class="list-group list-group-flush bg-transparent">
    @foreach (var contact in Model)
    {
        <li class="list-group-item bg-transparent">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <p>@contact.Name</p>
                    </div>
                    <div class="col-3">
                        <p>@contact.BirthDate</p>
                    </div>
                    <div class="col-3">
                        <p>@contact.JobTitle</p>
                    </div>
                    <div class="col-3">
                        <p>@contact.MobilePhone</p>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>