@model IEnumerable<ContactViewModel>

@{
    Layout = "_Layout";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FamilyTree</title>
</head>
<body>
<div class="container-fluid">
    <ul class="list-group list-group-flush bg-transparent" id="listGroup">
        <li class="list-group-item bg-transparent">
            <div class="row">
                <div class="col-2">
                    <b >Name</b>
                </div>
                <div class="col-2">
                    <b>BirthDate</b>
                </div>
                <div class="col-2">
                    <b>JobTitle</b>
                </div>
                <div class="col-2">
                    <b>MobilePhone</b>
                </div>
            </div>
        </li>
        @foreach (var contact in Model)
        {
            <partial name="Components/_ListPart" model="contact"/>
        }
    </ul>
    <hr/>
    <div class="row">
        <div class="col-2">
            <div type="button" class="btn" style="background-color: rgba(95, 50, 0, 1); color: rgba(255, 255, 255, 1);" id="add" onclick="CallModal()">
                Add contact
            </div>
        </div>
    </div>
</div>
<div id="PartialModalForm">
    <partial name="Components/_ModalForm" model="Model.First()"/>
</div>
<script type="text/javascript">
    function CallModal(contactId)
    {
        $.ajax({
            url: "@Url.Action("GetModal", "Home")",
            data: { contactId: contactId },
            type: "GET",
            success: function (partialView) {
                $("#PartialModalForm").html(partialView);
    
                let modal = new bootstrap.Modal(document.getElementById('editModal'), {});
                modal.show();
    
                document.getElementById("contactForm").addEventListener("submit", function (e) {
                    let name = document.forms["contactForm"]["name"],
                        birthDate = document.forms["contactForm"]["birthDate"],
                        jobTitle = document.forms["contactForm"]["jobTitle"],
                        mobilePhone = document.forms["contactForm"]["mobilePhone"];

                    e.preventDefault();

                    let isNameValid = checkTextField(name),
                        isBirthDateValid = checkBirthDate(birthDate),
                        isJobTitleValid = checkTextField(jobTitle),
                        isMobilePhoneValid = checkPhoneNumber(mobilePhone);

                    if (isNameValid && isBirthDateValid && isJobTitleValid && isMobilePhoneValid)
                    {
                        document.forms["contactForm"].submit();
                    }
                });
            }
        });
    }
        
    function DeleteContact(contactId, itemId)
    {
        $.ajax({
            url: "@Url.Action("DeleteContact", "Home")",
            data: {contactId: contactId},
            type: "POST",
        });
        
        document.getElementById(itemId).remove();
    }
</script>
</body>
</html>


