.button{
  background-color: rgba(95, 50, 0, 1); 
  color: rgba(255, 255, 255, 1);
}

.redButton{
  background-color: rgba(140, 40, 0, 1); 
  color: rgba(255, 255, 255, 1);
}

.area{
  background-color: rgba(241, 237, 232, 1);
}

.background{
  background-color: rgba(247, 245, 242, 1);
}